body {
    background-color: #EEE;
    font-family: Helvetica, Arial, sans-serif;
    padding: 25px;
    margin: 0;
    overflow: auto;
}



#title{
    font-family: VT323;
}

li{
    list-style-type: none;
}

li:hover{
    cursor: pointer;
    color: #56beff;
}

#container li {
    margin-bottom: 10px;
}

#roundButton {
    border-style: none;
    outline: none;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
}


#roundButton:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

#roundButton:active {
    border-color: #003557;
    background-color: #FFF;
}


 
#flyoutMenu h2 a {
    color: rgb(255, 255, 255);
    font-family: PT Sans;
    font-size: 14pt;    
    margin-left: 15px;
    text-decoration: none;
}
 
#flyoutMenu h2 a:hover {
    color: #56beff;
    /* text-decoration: underline; */
}  

#flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
}  

#flyoutMenu {
    width: 50vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-100vw, 0, 0);
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
}

.show {
    transform: translate3d(0vw, 0, 0);
} 